/*create_forms*/

.btn:hover {
  cursor: pointer;
  background-color: gray;
}

.btn {
  border: 2px solid gray;
  padding: 10px;
  background-color: lightgray;
}

#create-input {
  margin: 60px 0px 0px 20px;
  padding: 15px;
  width: 200px;
  font-size: 24px;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 2px solid lightgray;
  margin: 30px 0px 30px 20px;
  font-size: 24px;
  padding: 15px 25px 25px 20px;
}

.sub-input {
  left: 45px;
  position: relative;
}

.input-element {
  display: flex;
  align-items: center;
  margin: 5px;
}

.input-element > label {
  width: 130px;
}

.input-element > input, .input-element > select {
  margin-left: 15px;
  width: 100%;
  font-size: 24px;
  border: 2px solid lightgray;
  text-indent: 15px;
}

.input-element > select {
  text-indent: 5px;
}

.input-btns {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px 0px 0px;
}

.input-btns > li {
  margin: 15px 0px 0px 30px;
  font-size: 22px;
  width: 150px;
  text-align: center;
}


/*preview_forms*/

.preview-question {
  left: 25px;
  margin: 40px 0px 40px 0px;
  font-size: 24px;
}

.preview-label {
  margin-right: 50px;
}

.preview-radio {
  margin: 30px 10px 0px 15px;
}

.preview-response {
  margin-top: 15px;
  font-size: 24px;
  text-indent: 15px;
  border: 2px solid gray;
}


/*export_forms*/

.export-area {
  vertical-align: top;
  margin: 50px 0px 0px 25px;
  font-size: 24px;
  width: 800px;
  height: 350px;
  border: 2px solid gray;
}
